.wrapper {
  display: flex;
  align-items: center;
}
.container_search {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  border-radius: 4px;
  input {
    border: none;
    outline: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 10px 20px;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
