.container {
  display: flex;
  align-items: center;
}
.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

.navLink {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  padding: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.activeNavLink {
  text-decoration: underline;
  color: black;
}
